@import "./abstracts/functions";
@import "./abstracts/variables";
@import "./abstracts/mixins";

@import "./layout/header";

@import "./base/_animation";
@import "./base/base";
@import "./base/typography";
@import "./base/utilities";

@import "./pages/home";

@import "./layout/header";
@import "./layout/grid";

@import "./components/buttons";
@import "./components/composition";
@import "./components/feature-box";
@import "./components/card";
@import "./components/story";
@import "./components/bg-video.scss";
@import "./components/form.scss";


.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
    width: auto;
}

.logo-box:hover .logo{
    animation: moveInRight 3s ease-out;
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*-50% z elementu*/
    text-align: center;
}




