.u-center-text{
    text-align: center;
}
.u-bottom-margin-big{
    margin-bottom: 8rem;
}
.u-bottom-margin-small{
    margin-bottom: 1.5rem;
}
.u-bottom-margin-medium{
    margin-bottom: 5rem;
}
.u-top-margin-medium{
    margin-top: 4rem;
}
.u-top-margin-big{
    margin-top: 10rem;
}